

body {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    background-color: #fcf6d2;
    /* Verdana no corpo inteiro ;) */
    font-family: Verdana, sans-serif;
}



main {
    width: 400px;
    margin: auto;
    
    padding-top: 10px;
    
}

p.riscado{
    text-decoration: line-through;
}

p{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    flex: 1;
}

.lContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    border: solid green 2px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;

    background-color: rgb(220, 243, 186);
}
ul{
    width: 60%;
    margin: auto;
}
h1 {
    padding: 20px;
    text-align: center;
    font-family: Verdan
}

input#inputTarefa {
   
    width: 300px;
    
}
li > button {
    
    flex: 0;
}
li > input {
    
    flex: 0;
}
  
 
